a {
    display: block;
    cursor: pointer;
}

.menu {
    position: absolute;
    transform: translate(-50%,-50%);
    height: 300px;
    width: 300px;
    border-radius: 50%;
    left: 25px;
    top: 25px;
}

.principal {
  position: relative;
  transform: translate(-50%,-50%);
  background-image: url(../../assets/options.png);
  opacity: 0.1;
  border-radius: 50%;
  height: 64px;
  width:64px;
  top:50%;
  left:50%;
}

.principal:hover {
  opacity: 1;
}

.sound {
    transform: translate(-50%,-50%);
    position: relative;
    background-image: url(../../assets/mute.png);
    opacity: 0.3;
    border-radius: 50%;
    height: 40px;
    width:40px;
    top: 25%;
    left: 50%;
}

.sound:hover {
  opacity: 1;
}

.save {
    transform: translate(-50%,-50%);
    background-image: url(../../assets/save.png);
    opacity: 0.3;
    position: relative;
    border-radius: 50%;
    height: 40px;
    width:40px;
    top:44%;
    left:66%;
}

.save:hover {
  opacity: 1;
}

.load {
  transform: translate(-50%,-50%);
  background-image: url(../../assets/load.png);
  position: relative;
      opacity: 0.3;
    border-radius: 50%;
    height: 40px;
    width:40px;
    top:15%;
    left:75%;
}

.load:hover {
  opacity: 1;
}
